zotero-plugin/build
zotero-plugin/logs
zotero-plugin/node_modules
zotero-plugin/package-lock.json
zotero-plugin/pnpm-lock.yaml
zotero-plugin/yarn.lock
zotero-plugin/zotero-cmd.json
zotero-plugin/.DS_Store